# Temporarily ignore data and output
Output/*
Data/derived_data/*.rds
Data/exported_data/*
data/private_data/*

lib/Hurdle*

# Site output
_site/*
site_libs/*

# knitr and caching stuff
*_files/*
*_cache/*

# Analysis output
analysis/*_files/*
*/*_cache/*

# Site output
analysis/_site/*
analysis/site_libs/*

# Manuscript output
Writing/**/*.docx
Writing/**/*.html
Writing/**/*.pdf
Writing/**/*.tex
Writing/Manuscript/tex_out/*
Writing/Manuscript/vc*
Writing/Feedback*
Writing/Submissions/*

# Other folders
admin/*

# R stuff
.Rproj.user
.Rhistory
.RData

# Miscellaneous
*.~lock.*
.DS_Store
.dropbox
Icon?
