# Temporarily ignore data and output
Output/*

# Analysis output
index.html

# Manuscript output
Writing/**.docx
Writing/**.html
Writing/**.pdf
Writing/**.tex
Writing/Manuscript/tex_out/*

# Other folders
Sandbox/*
Miscellaneous/*
Readings/*

# R stuff
.Rproj.user
.Rhistory
.RData

# Miscellaneous
*.~lock.*
.DS_Store
.dropbox
Icon?

