blockquote {
    font-size: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

pre {
    font-size: 75%;
}

blockquote {
    font-size: 1em;
    margin-left: 4em;
    margin-right: 4em;
}

.tocify-header {
    margin-left: 5px !important;
    text-indent: 0;
}

.tocify-subheader {
    margin-left: 15px !important;
    text-indent: 0;
}

.tocify-subheader .tocify-subheader {
    margin-left: 25px !important;
    text-indent: 0;
}

.tocify-subheader .tocify-subheader .tocify-subheader {
    margin-left: 35px !important;
    text-indent: 0;
}

.datatables {
    margin-bottom: 10.5px;
}
